In [2]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [3]:
import mysql.connector

In [4]:
mydb = mysql.connector.Connect(
    host = 'localhost',
    user = 'root',
    password = '77987798',
    database = 'iranketab_db'
)

بخش چهارم: درخواست کارفرمایان

در این بخش ابتدا به سراغ دو درخواست خریدار و یک درخواست نویسنده می‌رویم. برای تشخیص بهترین نویسنده کتاب عاشقانه، معیاری ترکیبی برآمده از میانگین امتیاز کتب عاشقانه یک نویسنده و میانگین وزن‌دار امتیاز کتب او می‌سازیم. وزن داده‌شده برابر تعداد تجدید چاپ هر کتاب می‌باشد. برای هر یک از درخواست‌ها، معیار ساخته‌شده را کمی تغییر می‌دهیم و مجددا نتایج را بررسی می‌کنیم. 
درخواست دیگر خریدار معرفی کتاب‌های ارزان و با امتیاز بالاست که در بخش بعدی انجام می‌دهیم. و درخواست نویسنده مشابه درخواست اول خریدار است و از ما می‌خواهد معیاری برای تشخبص بهترین ناشر کتاب‌های تاریخی معرفی کنیم که این بخش را مشابه معیار و روش درخواست خریدار ۱ انجام می‌دهیم.
در انتها از ما خواسته‌شده است دو فرضیه آماری یعنی متفاوت‌بودن قیمت کتب دارای مترجم و کتب فاقد آن و همچنین متفاوت‌بودن قیمت کتاب‌های با جلد سخت و شومیز را ارزیابی کنیم. علاوه بر این دو فرضیه، چند فرضیه مکمل را هم پیشنهاد کرده و بررسی می‌کنیم.

درخواست خریدار ۱:

معیار برتری نویسنده برای کتاب‌های عاشقانه:
 میانگین امتیاز همه کتاب‌های یک نویسنده در ژانر عاشقانه ضربدر ۰.۵ 
بعلاوه
تعداد تجدید چاپ هر کتاب ضربدر امتیاز آن، جمع کل کتاب‌ها تقسیم بر کل تجدید چاپ آن نویسنده (میانگین وزن‌دار امتیازات) ضربدر ۰.۵

In [5]:
# 1:
query1 = "SELECT book.book_id, book.product_name, person.person_name,book.print_series, book.rating"\
       " from book inner join  book_author"\
               " on book.book_id=book_author.book_id"\
           " inner join person on book_author.person_id=person.id"\
            " inner join book_category on book_category.book_id=book_author.book_id"\
           " inner join category on book_category.category_id=category.id"\
                " where category.category_name = 'داستان عاشقانه'"\
                " GROUP BY category.id,book_category.book_id,book_author.book_id, person.id,book_author.person_id,book.book_id"

df_cons1 = pd.read_sql_query(query1, mydb)

/var/folders/0r/6nwh7td129301__r2brydjn00000gn/T/ipykernel_33610/3472200729.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_cons1 = pd.read_sql_query(query1, mydb)

In [6]:
df_cons1[df_cons1['print_series']==0]

,book_id,product_name,person_name,print_series,rating
69,1216,کتاب با عشق رزی,سسیلیا آهرن,0,3.60
70,1250,کتاب قرار آینده,مارک لوی,0,3.15
140,4749,کتاب زیر در زمزمه گر,تی جی کلون,0,3.74
448,21241,کتاب عشق در مهتاب یخ زده,حسن اصغری,0,3.04
462,4588,کتاب Jane Eyre,شارلوت برونته,0,3.02
619,29344,کتاب ربوده شده,لوسی کریستفر,0,4.00
620,29344,کتاب ربوده شده,رابرت لوییس استیونسون,0,4.00
664,32285,کتاب انجمن جین آستن,ناتالی جنر,0,3.74
838,38071,کتاب سرانجام شری,سیدونی گابریل کولت,0,3.89
1175,48452,کتاب اسکارلت - 2 جلدی,الکساندرا ریپلی,0,3.66
1205,51384,شاهزاده شیر و راز گل سرخ,دنا جو ناپلی,0,3.48
1675,67198,کتاب سه داستان عاشقانه,ایوان تورگنیف,0,3.06
1710,69036,کتاب وقتی آن تناور درخت خانه شکست,شهره وکیلی,0,3.99
1711,69038,کتاب فراتر از معرکه,شهره وکیلی,0,3.41
1712,69350,کتاب بازمانده آقای ف.ف,ستاره روشن,0,3.36
1713,69353,کتاب در هوس خیال تو,اعظم فهیمی,0,3.68
1714,69354,کتاب شب نما,نسرین جمال پور,0,3.98
1719,69561,کتاب من دختر نیستم,پگاه بختیاری,0,3.95
1856,76379,کتاب از هپروت تا دلدادگی,انیس لودیگ,0,3.37
2025,82502,کتاب جای پای لبهای تو,ساحل بهنامی(راز),0,3.49
2026,82524,کتاب سرمشق دلدادگی,الهه احمدی,0,3.48

همانطور که مشاهده می‌کنیم، تعداد ۲۱ کتاب دارای نوبت چاپ صفر هستند که به دلیل آن است که برای این کتاب‌ها، مقدار نوبت چاپ در سایت، معرفی نشده است. در اینجا می‌توان این داده‌ها را کنار گذاشت یا مقدار تعداد چاپ آن‌ها را ۱ فرض کرد. با توجه به تعداد بسیار محدود آن‌ها به نظر تفاوت چندانی در داده ایجاد نخواهد کرد. ابتدا فرض می‌کنیم مقدار نوبت چاپ آن‌ها برابر ۱ باشد:

In [7]:
df_cons1 = df_cons1.replace({'print_series': {0:1}})

In [8]:
df_cons1['wrating'] = df_cons1['rating']*df_cons1['print_series']
df_cons1['count'] = 1
df_cons1 = df_cons1.groupby(by="person_name").sum()
#
df_cons1['best_crite1'] = (0.5*(df_cons1['rating']/df_cons1['count']))+(0.5*(df_cons1['wrating']/df_cons1['print_series']))
df_cons1['best_crite2'] = (0.3*(df_cons1['rating']/df_cons1['count']))+(0.7*(df_cons1['wrating']/df_cons1['print_series']))

In [9]:
#df_result1 = df_result1[df_result1['best_crite'].notnull()]
df_result1 = df_cons1.sort_values('best_crite1',ascending=False)
df_result2 = df_cons1.sort_values('best_crite2',ascending=False)
df_result1.drop(columns={'book_id','product_name','print_series','rating','wrating','count','best_crite2'}, inplace=True)
df_result1[:5]

                 best_crite1
person_name
مارگارت راجرسون     4.500000
آلکساندرا برکن      4.500000
میا شریدن           4.430000
مارتین گاندا        4.400000
سیمون دوبووار       4.300227

حال اگر ضریب میانگین وزن‌دار را بزرگتر از میانگین بدون وزن و برابر ۰.۷ درنظر بگیریم، خواهیم داشت:

In [10]:
df_result2.drop(columns={'book_id','product_name','print_series','rating','wrating','count','best_crite1'}, inplace=True)
df_result2[:5]

                 best_crite2
person_name
آلکساندرا برکن      4.500000
مارگارت راجرسون     4.500000
سیمون دوبووار       4.438318
میا شریدن           4.430000
مارتین گاندا        4.400000

در نتیجه مشاهده می‌کنیم که اگر چه ترتیب میان ۵ نویسنده اول تغییر می‌کند اما ۵ نویسنده برتر در هر دو معیار یکی می‌شود.

درخواست خریدار۲:

در اینجا کافی است، یک دیتافریم شامل کتاب‌هایی که در چارک اول بهترین‌ها از نظر امتیاز قرار دارند بسازیم و همچنین یک دیتافریم شامل کتاب‌هایی که در ۲۰ درصد ارزان‌ترین. سپس اشتراک این دو گروه را بدست آوریم.

In [12]:
query2 = "Select * from book"

df_cons2 = pd.read_sql_query(query2, mydb)
df_2_price = df_cons2.sort_values('discount_price')
max_price = float(df_2_price['discount_price'].quantile([0.2]))
df_2_rating = df_cons2.sort_values('rating',ascending=False)
min_rate = float(df_2_rating['rating'].quantile([.25]))
#result:
result2 = df_2_rating[df_2_rating['rating']>=min_rate][df_2_rating['discount_price']<=max_price]

/var/folders/0r/6nwh7td129301__r2brydjn00000gn/T/ipykernel_33610/3070154530.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_cons2 = pd.read_sql_query(query2, mydb)

/var/folders/0r/6nwh7td129301__r2brydjn00000gn/T/ipykernel_33610/3070154530.py:5: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  max_price = float(df_2_price['discount_price'].quantile([0.2]))
/var/folders/0r/6nwh7td129301__r2brydjn00000gn/T/ipykernel_33610/3070154530.py:7: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  min_rate = float(df_2_rating['rating'].quantile([.25]))
/var/folders/0r/6nwh7td129301__r2brydjn00000gn/T/ipykernel_33610/3070154530.py:9: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  result2 = df_2_rating[df_2_rating['rating']>=min_rate][df_2_rating['discount_price']<=max_price]

In [13]:
result2

,book_id,product_name,product_name_eng,isbn,book_code,release_date_sh,release_date_gc,rating,book_pages,print_series,inventory,original_price,discount_price,discount_percent,type_of_print_id,publisher_id,size_id,summery_id
6709,6710,کتاب زندگی را به رقص آور!,Make Life Dance,978-600118017-0,5530,1390,2012,5.00,144,2,0,0,0,0,2.0,73.0,7.0,4561.0
28025,28026,کتاب از مرز انزوا,From the isolation boundary,978-600734327-2,5994,1394,2015,5.00,235,1,0,0,0,0,2.0,264.0,2.0,19299.0
28450,28451,کتاب خداحافظ تسوگومی,Goodbye Tsugumi,978-600964168-0,10999,1401,1989,5.00,175,2,0,0,0,0,2.0,71.0,1.0,19632.0
7564,7565,کتاب عبور از سوئز,Crossing Suez,978-600031769-0,12234,1396,2017,5.00,284,1,0,0,0,0,2.0,208.0,1.0,5178.0
6798,6799,کتاب زن قهرمان بی مدال,Female Champion,978-964283524-9,6161,1396,2008,5.00,560,2,0,0,0,0,2.0,219.0,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26613,26614,کتاب داستان هایی از مثنوی مولوی (2),Stories from Masnavi Molavi (2),978-600210017-7,121943,1392,,3.26,80,3,0,0,0,0,2.0,373.0,1.0,NaN
35107,35108,کتاب پس از نمایش,Three plays after,978-622761252-3,76655,1400,2013,3.26,92,1,0,0,0,0,2.0,605.0,1.0,NaN
26533,26534,کتاب فن بیان و آیین سخنوری,The art of expression,978-600451487-3,121760,1397,,3.26,158,1,0,0,0,0,2.0,116.0,1.0,18517.0
16550,16551,کتاب منتخب شاهنامه فردوسی,Shahnameh,978-964892530-2,56415,1398,,3.26,544,1,0,0,0,0,2.0,532.0,1.0,11849.0
7517,7518,کتاب اصول نقاشی با رنگ روغن,How to paint in oil,978-600586521-9,11915,1393,1997,3.26,128,93,0,0,0,0,2.0,321.0,2.0,5151.0

در نتیجه مشخص می‌شود که ۲۰ درصد ارزان‌ترین‌ کتاب‌ها قیمت با تخفیف صفر دارند و برای قرارگرفتن کتاب در چارک اول کیفیت لازم است امتیاز آن بالای ۳.۲۶ باشد.

درخواست نویسنده:

 برای تشخیص بهترین ناشر کتاب تاریخی، معیاری ترکیبی برآمده از میانگین امتیاز کتب تاریخی یک ناشر و میانگین وزن‌دار امتیاز کتب تاریخی او می‌سازیم. وزن داده‌شده برابر تعداد تجدید چاپ هر کتاب می‌باشد. برای هر یک از درخواست‌ها، معیار ساخته‌شده را کمی تغییر می‌دهیم و مجددا نتایج را بررسی می‌کنیم.

معیار بهترین ناشر برای کتاب تاریخی:
میانگین امتیاز کتب تاریخی هر ناشر ضربدر ۰.۵
 بعلاوه
میانگین وزندار امتیاز کتب تاریخی آن برحسب وزن تعداد تجدید چاپ هر کتاب ضربدر ۰.۵

In [14]:
query3 = "SELECT book.book_id, category.category_name, book.product_name, publisher.publisher_name,book.print_series, book.rating from publisher"\
          " inner join book on publisher.id = book.publisher_id"\
           " inner join book_category on book_category.book_id=book.book_id"\
           " inner join category on book_category.category_id=category.id"\
            " where category.category_name = 'داستان تاریخی' or category.category_name = ' تاریخی'"\
               " GROUP BY category.id,book_category.book_id,book.book_id, publisher.id"

df_writer = pd.read_sql_query(query3, mydb)

/var/folders/0r/6nwh7td129301__r2brydjn00000gn/T/ipykernel_33610/1362641455.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_writer = pd.read_sql_query(query3, mydb)

در اینجا هم مشکل ثبت نشدن و صفر بودن نوبت چاپ برخی کتاب‌ها وجود دارد:

In [15]:
df_writer[df_writer['print_series']==0]

,book_id,category_name,product_name,publisher_name,print_series,rating
6,40,داستان تاریخی,صد سال تنهایی (جلد سخت),امیرکبیر,0,4.67
80,1054,داستان تاریخی,کتاب فرقه ی اساسین ها - مکاشفات,آذرباد,0,3.51
81,1055,داستان تاریخی,فرقه ی اساسین ها - ریشه ها؛ سوگند صحرا,آذرباد,0,3.48
82,1056,داستان تاریخی,فرقه ی اساسین ها - رنسانس,آذرباد,0,3.73
83,1057,داستان تاریخی,فرقه ی اساسین ها - پیمان برادری,آذرباد,0,3.06
84,1058,داستان تاریخی,فرقه ی اساسین ها - نهضت مخفی,آذرباد,0,3.71
85,1059,داستان تاریخی,فرقه ی اساسین ها - جدا شده,آذرباد,0,3.29
86,1060,داستان تاریخی,فرقه ی اساسین ها - پرچم سیاه,آذرباد,0,3.05
87,1061,داستان تاریخی,فرقه ی اساسین ها - وحدت,آذرباد,0,3.70
88,1062,داستان تاریخی,فرقه ی اساسین ها - دنیای تبهکاران,آذرباد,0,3.69
89,1063,داستان تاریخی,فرقه ی اساسین ها - ارتداد,آذرباد,0,3.92
290,6177,داستان تاریخی,کتاب دره دراز,نگاه,0,3.90
414,9080,داستان تاریخی,رنج و سرمستی,امیرکبیر,0,3.15
651,19703,داستان تاریخی,کتاب سیاوش در آتش,خانه ادبیات,0,3.89
699,4588,داستان تاریخی,کتاب Jane Eyre,جنگل,0,3.02
929,28910,داستان تاریخی,کتاب مجموعه ی فرقه اسسین ها,آذرباد,0,3.59
1022,32285,داستان تاریخی,کتاب انجمن جین آستن,کتاب کوله پشتی,0,3.74
1036,32682,داستان تاریخی,کتاب ینگه دنیا 1 (مدار 42),هاشمی,0,3.58
1085,35860,داستان تاریخی,کتاب دنیای آشنا,شورآفرین,0,3.83
1086,35861,داستان تاریخی,کتاب خانه گرد,مسافر,0,3.92
1089,29344,داستان تاریخی,کتاب ربوده شده,آذرباد,0,4.00
1095,35899,داستان تاریخی,کتاب درمانگر,لیوسا,0,4.25
1339,37876,داستان تاریخی,جنگ و صلح,باهم,0,3.51
1381,38647,داستان تاریخی,کتاب آوای آلاباما,افراز,0,3.37
1518,40780,داستان تاریخی,کتاب نه فرشته نه قدیس,فرهنگ نشر نو,0,3.58
1537,41345,داستان تاریخی,کتاب کنت مونت کریستو,هرمس,0,3.46
1724,45241,داستان تاریخی,کتاب مجموعه سه گانه ی دوقلوها,مروارید,0,3.02
1740,45502,داستان تاریخی,الموت,دنیای نو,0,3.30
1828,48452,داستان تاریخی,کتاب اسکارلت - 2 جلدی,آسیم‏‫,0,3.66
1911,50802,داستان تاریخی,جزیره مرجانی,نشر کتاب پارسه,0,3.22
2526,36338,داستان تاریخی,کتاب اسماعیل,کتابسرای میردشتی,0,3.98
2574,73960,داستان تاریخی,کتاب قصه خوانان در تاریخ اسلام و ایران,علم,0,3.36
2636,75958,داستان تاریخی,کتاب سهراب و گردآفرید,خانه ادبیات,0,3.59
2638,75960,داستان تاریخی,کتاب سیاوش و آفرین,خانه ادبیات,0,3.38
2640,75962,داستان تاریخی,کتاب پیمان سیاوش,خانه ادبیات,0,3.67
2800,83499,داستان تاریخی,کتاب مجموعه قصه هایی از چهارده معصوم (15جلدی),برف,0,3.65

مشابه قسمت اول،‌ مقدار نوبت چاپ این ۳۶ کتاب را برابر ۱ فرض می‌کنیم و به طریق مشابه برای دو معیار مشابه، ۵ ناشر برتر را بدست می‌آوریم:

In [16]:
df_writer = df_writer.replace({'print_series': {0:1}})

In [17]:
df_writer['wrating'] = df_writer['rating']*df_writer['print_series']
df_writer['count'] = 1
df_writer = df_writer.groupby(by="publisher_name").sum()

df_writer['best_crite1'] = (0.5*(df_writer['rating']/df_writer['count']))+(0.5*(df_writer['wrating']/df_writer['print_series']))
df_writer['best_crite2'] = (0.3*(df_writer['rating']/df_writer['count']))+(0.7*(df_writer['wrating']/df_writer['print_series']))

In [18]:
df_writer1 = df_writer.sort_values('best_crite1',ascending=False)
df_writer2 = df_writer.sort_values('best_crite2',ascending=False)
df_writer1.drop(columns={'book_id','product_name','print_series','rating','wrating','count','best_crite2','category_name'}, inplace=True)
df_writer1[:5]

                best_crite1
publisher_name
کتاب نغمه              4.29
لیوسا                  4.25
هنرکده                 4.25
گل آفتاب               4.14
افق دور                4.13

و با  تغییر ضریب اهمیت میانگین وزن‌دار به ۰.۷، ترتیب بهترین ناشران تاریخی تغییری نمی‌کند:

In [19]:
df_writer2.drop(columns={'book_id','product_name','print_series','rating','wrating','count','best_crite1','category_name'}, inplace=True)
df_writer2[:5]

                best_crite2
publisher_name
کتاب نغمه              4.29
لیوسا                  4.25
هنرکده                 4.25
گل آفتاب               4.14
افق دور                4.13

تست فرض:

در این بخش باید اعتبار دو فرضیه مطرح شده را بررسی کنیم. علاوه بر این دو فرضیه، چند فرضیه مفید و راهگشا را اضافه کرده و بررسی می‌کنیم:

In [20]:
query_test1 = "Select * from book left join book_translator on book.book_id=book_translator.book_id"
df_transl = pd.read_sql_query(query_test1, mydb)

/var/folders/0r/6nwh7td129301__r2brydjn00000gn/T/ipykernel_33610/22030998.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_transl = pd.read_sql_query(query_test1, mydb)

In [21]:
df_transl=df_transl.drop(columns={'book_id','product_name','product_name_eng','isbn'})

داده‌های مربوط به قیمت با تخفیف کتاب‌های بدون ترجمه و با ترجمه را هر یک در یک دیتافریم می‌ریزیم و اعتبار فرضیه برابر بودن قیمت آن‌ها را بررسی می‌کنیم:

In [22]:
df_without_trans = df_transl[df_transl['person_id'].isnull()]['discount_price']
df_with_trans = df_transl[df_transl['person_id'].notnull()]['discount_price']

In [23]:
from scipy.stats import ttest_ind
t1 = ttest_ind(df_with_trans,df_without_trans)

In [24]:
t1

TtestResult(statistic=13.305777158400987, pvalue=2.2950165555296392e-40, df=115147.0)

پس در اینجا پی-مقدار برابر ۲.۲۹۵ شده است که مقدار بزرگی است و می‌توانیم در سطح ۱ درصد یکی‌بودن دو نمونه را رد کنیم. در واقع ادعای یکی‌بودن قیمت کتاب‌های با ترجمه و بدون ترجمه رد می‌شود. همچنین با توجه به آماره تی به نظر می‌رسد، قیمت کتب ترجمه‌شده بیشتر از کتب تالیفی است. شاید یکی از دلایل آن اقبال بیشتر مردم به کتاب‌های خارجی به خاطر شهرت یا کیفیت بهتر آن‌ها باشد که قیمت کتاب را بالا برده است. زیرا می‌دانیم که قوانین کپی رایت و حق ناشر خارجی چندان در ایران رعایت نمی‌شود و هزینه اصلی تولید یک کتاب ترجمه‌شده به جز هزینه‌های چاپ و توزیع، بیشتر هزینه ترجمه است.

همچنین این فرضیه را با استفاده از قیمت‌های بدون تخفیف (قیمت اصلی) را بررسی می‌کنیم:

In [25]:
df_without_trans_orig = df_transl[df_transl['person_id'].isnull()]['original_price']
df_with_trans_orig = df_transl[df_transl['person_id'].notnull()]['original_price']

t1_origin = ttest_ind(df_with_trans_orig,df_without_trans_orig)
t1_origin

TtestResult(statistic=13.337062505804147, pvalue=1.5102829085625577e-40, df=115147.0)

البته باید دید اگر چنین فرضیه‌ای را در برش‌های کوچک‌تری از داده مشاهده کنیم،‌ چگونه خواهد بود؟ مثلا آیا اگر برای بازه مشخصی از سال‌ها این را مشاهده کنیم باز هم همین است؟ برای این منظور، کتاب‌های ترجمه‌دار و بدون‌ترجمه را برای سال‌های قبل و بعد از ۱۳۹۵ بررسی می‌کنیم:

In [26]:
# pre 1395:
query_test1_pre95 = "Select * from book left join book_translator on book.book_id=book_translator.book_id where release_date_sh<1395"
df_trans_pre95 = pd.read_sql_query(query_test1_pre95, mydb)

/var/folders/0r/6nwh7td129301__r2brydjn00000gn/T/ipykernel_33610/1043449097.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_trans_pre95 = pd.read_sql_query(query_test1_pre95, mydb)

In [27]:

df_trans_pre95_without = df_trans_pre95[df_trans_pre95['person_id'].isnull()]['discount_price']
df_trans_pre95_with = df_trans_pre95[df_trans_pre95['person_id'].notnull()]['discount_price']
t1_pre95 = ttest_ind(df_trans_pre95_with,df_trans_pre95_without)
t1_pre95

TtestResult(statistic=-2.110350748056976, pvalue=0.034839476848749495, df=21875.0)

یکی‌بودن قیمت ترجمه‌شده و نشده را در سطح ۱ درصد می توان رد کرد اما در سطح ۵ درصد خیر. یعنی در سطح ۵ درصد نمی‌توانیم از یک جور بودن دو نمونه عبور کنیم! حال برای کتاب‌های سال ۱۳۹۵ و پس از آن امتحان می‌کنیم:

In [28]:
# post 1395:
query_test1_post95 = "Select * from book left join book_translator on book.book_id=book_translator.book_id where release_date_sh>=1395"
df_trans_post95 = pd.read_sql_query(query_test1_post95, mydb)

/var/folders/0r/6nwh7td129301__r2brydjn00000gn/T/ipykernel_33610/980863145.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_trans_post95 = pd.read_sql_query(query_test1_post95, mydb)

In [29]:
df_trans_post95_without = df_trans_post95[df_trans_post95['person_id'].isnull()]['discount_price']
df_trans_post95_with = df_trans_post95[df_trans_post95['person_id'].notnull()]['discount_price']
t1_post95 = ttest_ind(df_trans_post95_with,df_trans_post95_without)
t1_post95

TtestResult(statistic=12.64897109190194, pvalue=1.2149427182456091e-36, df=93270.0)

حال بررسی می‌کنیم برای دسته موضوعی ادبیات داستانی*، فرضیه مطرح ‌شده چگونه است؟

In [ ]:
# 
query_test1_Fi = "Select * from (Select book.book_id from book inner join book_category on book.book_id=book_category.book_id inner join "\
    "Category on book_category.category_id=Category.iD where category_name='ادبیات داستانی') left join book_translator on book.book_id=book_translator.book_id where "
df_trans_Fi = pd.read_sql_query(query_test1_Fi, mydb)

In [ ]:
df_trans_Fi_without = df_trans_Fi[df_trans_Fi['person_id'].isnull()]['discount_price']
df_trans_Fi_with = df_trans_Fi[df_trans_Fi['person_id'].notnull()]['discount_price']
t1_Fi = ttest_ind(df_trans_Fi_with,df_trans_Fi_without)
t1_Fi

فرضیه دوم:

در اینجا هر کتابی که عنوان جلدی شامل 'سخت' داشته باشد را جلد سخت و هر کدام که عنوان جلدی شامل 'شومیز' داشته باشد را جلد شومیز می‌گیریم.

In [31]:
query_sakht = "Select discount_price  from book inner join type_of_print on book.type_of_print_id=type_of_print.id where type_of_print LIKE '%سخت%'"
query_shomiz = "Select discount_price from book inner join type_of_print on book.type_of_print_id=type_of_print.id where type_of_print LIKE '%شومیز%'"

df_sakht = pd.read_sql_query(query_sakht, mydb)['discount_price']
df_shomiz = pd.read_sql_query(query_shomiz, mydb)['discount_price']

/var/folders/0r/6nwh7td129301__r2brydjn00000gn/T/ipykernel_33610/1423094792.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_sakht = pd.read_sql_query(query_sakht, mydb)['discount_price']
/var/folders/0r/6nwh7td129301__r2brydjn00000gn/T/ipykernel_33610/1423094792.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_shomiz = pd.read_sql_query(query_shomiz, mydb)['discount_price']

In [32]:
# test:
t2 = ttest_ind(df_sakht,df_shomiz)
t2

TtestResult(statistic=55.048867854229414, pvalue=0.0, df=96408.0)

برخلاف تصور مردم مشاهده می‌کنیم که پی مقدار تقریبا صفر می‌شود یعنی حتی در ۱ درصد هم نمی‌توان فرضیه بی‌تفاوت‌بودن قیمت جلد سخت و جلد شومیز را رد کنیم. برای تبیین و توجیه این وضعیت می‌توان گفت:

۱- انتظار داریم هزینه اصلی تولید کتاب به خصوص برای کتاب‌هایی که تعداد صفحات زیادی دارند، مربوط به کاغذ باشد و هزینه جلد در مقابل کل هزینه چاپ و همچنین هزینه‌های کل انتشارات، بی اهمیت می‌شود.  یا ممکن است با استفاده از جلد شومیز، ناشر انگیزه داشته‌ باشد از کاغذ کم کیفیت‌تری استفاده کند.

۲- شاید در نگاه اول انتظار داشته باشیم که جلد سخت بیشتر برای کتب با تعداد صفحات بالا یا ارزش بالاتر استفاده شود اما اگر بخواهیم مشاهده کنونی خود را توجیه کنیم می‌توان گفت که استفاده از جلد سخت کمتر رایج است و در مواردی هم که استفاده می شود به موضوع کتاب، رقع کتاب یا وضعیت اقتصادی آن سال در جامعه بستگی دارد. برای مثال در سال‌هایی که وضع اقتصادی کشور مناسب‌تر است یا دولت یارانه کاغذ بیشتری اعطا می‌کند، انگیزه برای مصرف جلد سخت بیشتر است. یا این نوع جلد بیشتر برای کتب مصور یا کتب کودک و نوجوان استفاده شود و  ناشر و خریدار انگیزه‌ای برای استفاده از آن در کتب داستانی نداشته باشد. به عبارت دیگر، جلد سخت زدن یا نزدن تابع عوامل دیگری فرای تعداد صفحات و ارزش کتاب است.

در اینجا تفاوت قیمت جلد سخت و شومیز را با معیار قیمت تقسیم بر تعداد صفحات بررسی می‌کنیم تا ببینیم آیا برای کتاب‌هایی با تعداد صفحات یکسان، قیمت این دو نوع جلد تفاوت دارد یا خیر؟

In [33]:
query_sakht_2 = "Select *  from book inner join type_of_print on book.type_of_print_id=type_of_print.id where type_of_print LIKE '%سخت%'"
query_shomiz_2 = "Select * from book inner join type_of_print on book.type_of_print_id=type_of_print.id where type_of_print LIKE '%شومیز%'"

df_sakht_2 = pd.read_sql_query(query_sakht_2, mydb)
df_shomiz_2 = pd.read_sql_query(query_shomiz_2, mydb)
df_sakht_2['priceonepage'] = df_sakht_2['discount_price']/df_sakht_2['book_pages']
df_shomiz_2['priceonepage'] = df_shomiz_2['discount_price']/df_shomiz_2['book_pages']
#df_sakht_2.drop(columns={'discount_price', 'book_pages'}, inplace=True)
#df_shomiz_2.drop(columns={'discount_price', 'book_pages'}, inplace=True)
df_sakht2 = df_sakht_2['priceonepage']
df_shomiz2 = df_shomiz_2['priceonepage']

/var/folders/0r/6nwh7td129301__r2brydjn00000gn/T/ipykernel_33610/3259644736.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_sakht_2 = pd.read_sql_query(query_sakht_2, mydb)
/var/folders/0r/6nwh7td129301__r2brydjn00000gn/T/ipykernel_33610/3259644736.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_shomiz_2 = pd.read_sql_query(query_shomiz_2, mydb)

In [34]:
df_sakht2

0         511.814024
1         400.513479
2         463.235294
3         379.335260
4         419.726562
            ...
4031      356.178977
4032      372.781065
4033     4666.666667
4034      740.740741
4035    45283.018868
Name: priceonepage, Length: 4036, dtype: float64

In [35]:
t2_2 = ttest_ind(df_sakht2,df_shomiz2)
t2_2

TtestResult(statistic=nan, pvalue=nan, df=nan)

در ادامه تعدادی فرضیه‌دیگر را مطرح و بررسی می‌کنیم:

فرضیه تغییر قیمت با تغییر امتیاز دریافتی: 
کتاب‌هایی با امتیاز ۴ تا ۵، قیمت بالاتری از کتاب‌های با امتیاز ۳ تا ۴ دارند!

In [36]:
query_3_under = "Select discount_price, book_pages, rating from book where rating>=3 and rating<4"
query_3_upper = "Select discount_price, book_pages, rating from book where rating<=5 and rating>=4"

df_3_under = pd.read_sql_query(query_3_under, mydb)
df_3_upper = pd.read_sql_query(query_3_upper, mydb)
df_3_under['priceonepage'] = df_3_under['discount_price']/df_3_under['book_pages']
df_3_upper['priceonepage'] = df_3_upper['discount_price']/df_3_upper['book_pages']

/var/folders/0r/6nwh7td129301__r2brydjn00000gn/T/ipykernel_33610/4104069079.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_3_under = pd.read_sql_query(query_3_under, mydb)
/var/folders/0r/6nwh7td129301__r2brydjn00000gn/T/ipykernel_33610/4104069079.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_3_upper = pd.read_sql_query(query_3_upper, mydb)

In [37]:
df_3_upper

      discount_price  book_pages  rating  priceonepage
0             140250         368    4.06    381.114130
1                  0         432    4.27      0.000000
2            2512500           0    4.74           inf
3                  0         464    4.67      0.000000
4                  0         304    4.23      0.000000
...              ...         ...     ...           ...
2337           76000         172    4.00    441.860465
2338           37800         184    4.00    205.434783
2339           10500          36    4.00    291.666667
2340          300000         274    4.00   1094.890511
2341           30000          28    4.00   1071.428571

[2342 rows x 4 columns]

In [ ]:
t3 = ttest_ind(df_3_upper['discount_price'],query_3_under['discount_price'])
t3

In [ ]:
t3_2 = ttest_ind(df_3_upper['priceonepage'],query_3_under['priceonepage'])
t3_2