In [51]:
import pandas as pd
import numpy as np
import mysql.connector
import re
import ast

In [52]:
database = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = 'your_password'
)

In [53]:
mycursor = database.cursor()

In [54]:
mycursor.execute('create database iranketab_db')

In [55]:
mycursor.execute('USE iranketab_db')

In [56]:
mycursor.execute('CREATE TABLE summery (id INT AUTO_INCREMENT PRIMARY KEY, summery_text VARCHAR(1000))')

In [57]:
mycursor.execute('CREATE TABLE size (id INT AUTO_INCREMENT PRIMARY KEY, size_name VARCHAR(20))')

In [58]:
mycursor.execute('CREATE TABLE publisher (id INT AUTO_INCREMENT PRIMARY KEY, publisher_name VARCHAR(255))')

In [59]:
mycursor.execute('create table type_of_print(id INT AUTO_INCREMENT PRIMARY KEY,type_of_print VARCHAR(25))')

In [60]:
mycursor.execute('CREATE TABLE book (\
                 book_id INT PRIMARY KEY ,\
                 product_name VARCHAR(255),\
                 product_name_eng VARCHAR(255),\
                 isbn VARCHAR(20),\
                 release_date_sh INT,\
                 release_date_gc INT,\
                 rating DOUBLE,\
                 book_pages INT,\
                 print_series INT,\
                 inventory BOOLEAN,\
                 original_price INT,\
                 type_of_print_id INT,\
                 publisher_id INT,\
                 size_id INT,\
                 summery_id INT,\
                 FOREIGN KEY (type_of_print_id) REFERENCES type_of_print(id),\
                 FOREIGN KEY (publisher_id) REFERENCES publisher(id),\
                 FOREIGN KEY (size_id) REFERENCES size(id),\
                 FOREIGN KEY (summery_id) REFERENCES summery(id))')

In [61]:
mycursor.execute('create table category(id INT AUTO_INCREMENT PRIMARY KEY,category_name VARCHAR(255))')

In [62]:
mycursor.execute('CREATE TABLE book_category (\
                 id INT AUTO_INCREMENT PRIMARY KEY,\
                 book_id INT,\
                 category_id INT,\
                 FOREIGN KEY (book_id) REFERENCES book(book_id),\
                 FOREIGN KEY (category_id) REFERENCES category(id)\
                 )')

In [63]:
mycursor.execute('create table person(id INT AUTO_INCREMENT PRIMARY KEY,person_name VARCHAR(255))')

In [64]:
mycursor.execute('CREATE TABLE book_author (\
                 id INT AUTO_INCREMENT PRIMARY KEY,\
                 person_id INT,\
                 book_id INT,\
                 FOREIGN KEY (book_id) REFERENCES book(book_id) ,\
                 FOREIGN KEY (person_id) REFERENCES person(id)\
                 )')

In [65]:
mycursor.execute('CREATE TABLE book_translator (\
                 id INT AUTO_INCREMENT PRIMARY KEY,\
                 person_id INT,\
                 book_id INT,\
                 FOREIGN KEY (book_id) REFERENCES book(book_id) ,\
                 FOREIGN KEY (person_id) REFERENCES person(id)\
                 )')