In [1]:
import pandas as pd
import numpy as np
import mysql.connector
import re
import ast

ModuleNotFoundError: No module named 'mysql'

In [2]:
database = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = 'password_khodetun'
)

In [3]:
mycursor = database.cursor()

In [4]:
mycursor.execute('create database iranketab')

In [5]:
mycursor.execute('USE iranketab')

In [9]:
mycursor.execute('CREATE TABLE summery (id INT AUTO_INCREMENT PRIMARY KEY, summery_text VARCHAR(255))')

In [11]:
mycursor.execute('CREATE TABLE size (id INT AUTO_INCREMENT PRIMARY KEY, size_name VARCHAR(20))')

In [13]:
mycursor.execute('CREATE TABLE publisher (id INT AUTO_INCREMENT PRIMARY KEY, publisher_name VARCHAR(20))')

In [15]:
mycursor.execute('CREATE TABLE book (\
                 book_id INT PRIMARY KEY ,\
                 product_name VARCHAR(255),\
                 product_name_eng VARCHAR(255),\
                 isbn VARCHAR(20),\
                 release_date_sh VARCHAR(20),\
                 release_date_gc INT,\
                 rating DOUBLE,\
                 book_pages INT,\
                 print_series INT,\
                 inventory VARCHAR(10),\
                 original_price INT,\
                 publisher_id INT,\
                 size_id INT,\
                 summery_id INT,\
                 FOREIGN KEY (publisher_id) REFERENCES publisher(id),\
                 FOREIGN KEY (size_id) REFERENCES size(id),\
                 FOREIGN KEY (summery_id) REFERENCES summery(id))')

In [16]:
mycursor.execute('create table category(id INT AUTO_INCREMENT PRIMARY KEY,category_name VARCHAR(25))')

In [17]:
mycursor.execute('CREATE TABLE book_category (\
                 id INT AUTO_INCREMENT PRIMARY KEY,\
                 book_id INT,\
                 category_id INT,\
                 FOREIGN KEY (book_id) REFERENCES book(book_id),\
                 FOREIGN KEY (category_id) REFERENCES category(id)\
                 )')

In [20]:
mycursor.execute('create table person(id INT AUTO_INCREMENT PRIMARY KEY,person_name VARCHAR(25))')

In [23]:
mycursor.execute('CREATE TABLE book_author (\
                 id INT AUTO_INCREMENT PRIMARY KEY,\
                 person_id INT,\
                 book_id INT,\
                 FOREIGN KEY (book_id) REFERENCES book(book_id) ,\
                 FOREIGN KEY (person_id) REFERENCES person(id)\
                 )')

In [ ]:
mycursor.execute('CREATE TABLE book_translator (\
                 id INT AUTO_INCREMENT PRIMARY KEY,\
                 person_id INT,\
                 book_id INT,\
                 FOREIGN KEY (book_id) REFERENCES book(book_id) ,\
                 FOREIGN KEY (person_id) REFERENCES person(id)\
                 )')